<p><%= link_to "Par ici si tu veux créer un nouveau potin", gossipcreation_index_path, class: 'navbar-brand' %></p>

<h3>Hello visiteur ! Voici tous les potins de THP :</h3>

<div class="row">
  <% @gossips.each do |item| %>
    <div class="col-sm-6" style="padding: 30px">
      <div class="card">
        <div class="card-header">
          <h4><%= item.title %></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">A été écrit par <%= item.user.first_name %></h5>
          <%= link_to "En savoir plus...", gossip_path(:gossip => item.id), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
